body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    font-family: 'Poppins',sans-serif;
}

.main{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    position: relative;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 111px;
    margin: 0 auto;
    background-color: #5F4BB6;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.logo{
    height: 111px;
    width: 187px;
}

.title{
    width:fit-content;
    text-align: center;
}

@media (max-width: 821px){
    
    .logo{
        display: none;
    }

    .title{
        margin-left: 10px;
    }

}

/*Bouton de login*/

.adminButton{
    text-align: center;
    width: 150px;
    display: flex;
    flex-direction:row;
}

.adminButton > a{
    width: 100px;
    cursor: pointer;
}

.adminButton > a:hover > i{
    background-color: #C3C9E9;
}

.adminButton > a > i{
    border-radius: 50%;
    font-size: 70px;
    color: black;
    border: 1px solid #162938;
}
/*---------------------------------*/

/*Liste des pdf*/

.PDFlist, .dirList{
    margin-right: 40px;
}

.info-pdf{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    padding-right: 10px;
}

.info-pdf-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    padding-right: 10px;
}

.info-pdf > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fileName, .dirName{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileName > p , .dirName > p{
    width: 100%;
}

.info-pdf > div > *{
    margin-left: 5px;
}

.downloadBtn{
    
    /*display: none;*/
    visibility: hidden;
}

.downloadBtn > i{
    font-size: 20px; 
    color: black;
}

.Hmin{
    /*display: none;*/
    visibility: hidden;
}

.info-pdf:hover > div > .downloadBtn,  .info-pdf:hover > div > i{
    /*display: block;*/
    visibility: visible;
}

.info-pdf:hover > div > .Hmin{
    /*display: block;*/
    visibility: visible;
}

.info-pdf > div > i{
    font-size: 20px;
    /*display: none;*/
    visibility: hidden;
    cursor: pointer;
}

#rowTitle > *{
    margin-left: 5px;
}

.info-pdf:hover, .info-dir:hover{
    border: 5px solid #6991d6;
}

.info-dir:hover{
    zoom: 1.2;
}

.dirList{
    display: flex;
    flex-direction: row;
}

.info-dir{
    color: white;
    height: 150px;
    width: 140px;
    background-color: #232020;
    border: 2px solid #162938;
    border-radius: 4px;
    margin: 20px 20px;
    text-align: center;
}

.info-dir div{
    width: 100%;
}

.dirList li .nbDeliv{
    bottom: 0;
}

/*----------------------------*/


/*formulaire d'importation*/

#uploadFormWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
}

#uploadFormWrapper > div{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}

#closeUploadFormBtn{
    position: relative;
    transform: translateX(270px);
    font-size: 31px;
    background: #162938;
    color: white;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#openUploadFormBtn{
    padding: 5px;
    width: fit-content;
    display: block;
    background-color: whitesmoke;
    border: 1px solid gray;
    cursor: pointer;
    margin: 4px;
}

#uploadForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#file-input{
    display: none;
}

#file-input-label{
    height: 100px;
    width: 150px;
    border: 1px dashed #162938;
    border-radius: 4%;
    padding: 10px, 15px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

#submitBtn{
    margin-top: 5px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 4px;
}

#file-input-label:hover, #submitBtn:hover{
    background-color: #C3C9E9;
}

#uploadForm > input{
    margin-top: 10px;
}

/*----------------------------*/

.PDFlist{
    display: none;
}

.PDFlist i{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}